.inputdaddy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 40vh;
}

body {
    background: #444444;
}

* {
    color: white;
    font-family: sans-serif;
    font-weight: 200;
}

input {
    background: rgb(100, 250, 125);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: black;
}

button {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: black;
}
